/* #region header */

.nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.nav-logo-span {
    color: #2e2f42;
}

.nav-ul {
    display: flex;
    align-items: center;
    gap: 40px;
}



.header-li-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    position: relative;
    color: #2e2f42;
}

.nav-li:nth-child(1) .header-li-link {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-li-link:hover,
.header-li-link:focus {
    color: #404bbf;

}

.nav-li:first-child .header-li-link::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    ;
}

.header .container {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;

}

/* #endregion header */

/* #region one */
.sect-one {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
}



.sect-one-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sect-one-button:hover,
.sect-one-button:focus {
    background-color: #404BBF;
}

















.sect-thr-ul {
    display: flex;
    gap: 24px;
}


.sect-thr-li {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);

}

.sect-thr-li-div {
    padding: 32px 0;
}

.sect-thr-sub {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.sect-thr-p {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.sect-thr-soc {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.sect-thr-soc-li {
    width: 40px;
    height: 40px;
}

.soc-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:hover,
.soc-link:focus {
    background-color: #404bbf;
}

.sect-thr-icon {
    fill: #f4f4fd;
}

/* #endregion three */

/* #region four*/

.sect-four {
    padding: 120px 0 120px 0;
}

.sect-four-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.sect-four-li {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.sect-four-li:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sect-four-li:hover p {
    transform: translateY(0%);
}

.sect-four-p-hidden:hover {
    transform: translateY(0%);
}

.sect-four-img {
    position: relative;
    overflow: hidden;
}

.sect-four-img:hover p {
    transform: translateY(0%);
}

.sect-four-overlay {
    position: relative;
    overflow: hidden;
}

.sect-four-p-hidden {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.sect-four-div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: 0;
}

.sect-four-sub {
    margin-bottom: 8px;
}

/* #endregion four */

/* #region footer */
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-container {
    align-items: baseline;
    display: flex;
}

.footer-p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 264px;
}

.footer-span {
    color: var(--main-color);
}


.footer-nav-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

img {
    display: block;
}

.footer-div-second {
    margin-right: 120px;
}

.footer-p-soc {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-ul {
    display: flex;
    gap: 16px;
}

.footer-li {
    width: 40px;
    height: 40px;
}

.footer-li-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-li-link:hover,
.footer-li-link:focus {
    background-color: #31d0aa;
}

.footer-icon {
    fill: #f4f4fd;
}

.footer-subscribe-area {
    margin-right: 0;
}

.footer-form-p {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.footer-form {
    gap: 24px;
    display: flex;
}

.footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.footer-button {
    min-width: 165px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.footer-button-svg {
    margin-left: 16px;
}

/* #endregion Footer */